:root {
    --custom-border: 1px solid #4691f1;
  }
  
.__font{
    color: #4691f1 !important; 
    font-style: normal !important;
}
.__font2{
    font-style: normal !important;
}
.__border-rg-bt{
    border-right: var(--custom-border) !important;
    border-bottom: var(--custom-border) !important;
}
.__border-bt{
    border-bottom: var(--custom-border) !important;
}
.__border-rg{
    border-right: var(--custom-border) !important;
}

.btn-main-md:hover {
    background: #4691f1;
}
.unique{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.main-nav .navbar-nav .nav-item a{
    text-decoration: none !important;
    color: #333; /* Default text color */
    position: relative; /* Position relative for pseudo-element */
    transition: color 0.3s, border-bottom 0.3s; 

}
.main-nav .navbar-nav .nav-item a::before{
    content: "";
    position: absolute;
    width: 70%;
    height: 3px; /* Underline thickness */
    bottom: 0;
    left: 0;
    background-color: transparent; /* Initial color of the underline */
    transition: background-color 0.5s, font-weight 0.5s; /* Smooth background color transition */
  

}
.main-nav .navbar-nav .nav-item a:hover{
 color: #080272;
 font-weight: bolder;

}
.main-nav .navbar-nav .nav-item a:hover::before{
 background-color:  #080272;


}

.about .image-block img {
    border-radius: 50px;
}
.registration .registration-block {
    padding: 50px 10%;
}
.lobster{
    font-size: 8rem !important; 
    font-family: 'Lobster', cursive !important;
     color:white !important;
}

.no-gutters{
    margin-right: 20px;
    margin-left: 20px;
}

.qr-link{
    margin-top: 10px;
    text-decoration-color: white; text-decoration: underline;
    color:white;
    cursor: pointer;
}
.qr-link p{
    color:white !important;
}
.qr-link:hover{
    background: #4691f1;
    border-color:#4691f1 ;
}
.qr-link:active{
    border-color:#4691f1 ;
    color: white !important ; 
}

.extra{
    padding-top: 2rem;
}
.__theme-font{
    color:rgb(92, 91, 91)!important; 
    font-size: smaller!important;
}


.speakers-full-width .speaker-slider .slick-prev, .speakers-full-width .speaker-slider .slick-next {
    background: #fff;
    width: 70px;
    height: 70px;
    border-radius: 0; 
    z-index: 100;
}



@media (max-width:1025px) {

.speakers-full-width .speaker-slider .speaker-image img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    padding-right: .5rem;
    padding-left: .5rem;
  }
}
@media (max-width: 767px) {
    .__md-font{
     display: block;
     padding-top: .5rem;
    }

    .speakers-full-width .speaker-slider .slick-prev, .speakers-full-width .speaker-slider .slick-next {
        
        width: 50px;
        height: 50px;
     
  }
    #home{
        height: 100vh;
       
    }
}
  @media (max-width: 542px) {
      .block{
          padding-top: 1rem !important;
        }
        .lobster{
    padding-top: 1rem !important;
    font-size: 6rem !important;
} 
.logo-h1{
    padding-top: 1rem !important;
    font-size: 3rem !important;
   }
   .logo-h2{
    font-size: 1.5rem !important;
    /* padding-top:1rem; */
    padding-bottom: 1rem !important;
   }
}

@media (max-width: 510px) {
  .__md-font{
   font-size: 2rem;
  }
}
@media (max-width: 440px) {
    .__theme-font{
        font-size: 1rem;
    }
  .__md-font{
   font-size: 1.7rem;
  }
}